<div class="standard-block-main-view">
	<h3>　</h3>
	<ul class="menu">
		<li><a href="#/menu_e-money"  ng-click="playse('seFunc')">電子バリュー</a></li>
		<li><a href="#/menu_e-money"  ng-click="playse('seFunc')">クレジット</a></li>
		<li><a href="#/menu_e-money"  ng-click="playse('seFunc')">銀聯</a></li>
	</ul>
	<ul class="menu">
		<li><a href="#/menu_e-money" ng-click="playse('seFunc')">電子マネー</a></li>
		<li><a href="#/menu_e-money" ng-click="playse('seFunc')">Ｊ－Ｄｅｂｉｔ</a></li>
		<li><a href="#/menu_e-money" ng-click="playse('seFunc')">ポイント</a></li>
	</ul>
</div>
